.Atom {

    font-size: 1.3rem
     
}

@keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
}

@media (prefers-reduced-motion: no-preference) {
    .Atom {
      animation: App-logo-spin infinite 20s linear;
    }
}